

<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">


      </div>
    </div>
    <div class="span9">
            </div>
      </div>
    </div>
  </div>
</div>


<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <% if logged_in? %>
          <h2>Welcome Back!</h2>
      <% end %>
      <h1>Zi Fashions</h1>
      <p> Zi Fashions is a website dedicated to providing you with unique fashions for Men and Ladies, Feel free to browse our site, sign up and buy! </p>

    </div>
    <div class="span10">
      <%= image_tag "ladies.jpg", :alt => "ladies" %>
      <%= image_tag "mens.jpg", :alt => "mens"  %>
    </div>
  </div>
</div>


